# this file acts as a global value files to all bootstrap-core-apps
email: youremail@example.com
githubUser: loeken
githubRepo: homelab-example
certManager:
  chartVersion: v1.11.0
sealedSecrets:
  chartVersion: v0.19.5