authelia:
  chartVersion: 0.8.57
  enabled: false
  ingress:
    cloudflaretunnel:
      enabled: true
    nginx:
      enabled: false
  smtp:
    host: mail.example.com
    port: 587
    sender: authelia@example.com
    username: authelia@example.com
  storageClass: local-path
ceph:
  enabled: false
certmanager:
  chartVersion: 1.11.1
  enabled: false
cloudflaretunnel:
  enabled: true
clusterIssuer: letsencrypt-staging
democratic_iscsi:
  chartVersion: 0.13.7
  enabled: false
democratic_nfs:
  chartVersion: 0.13.7
  enabled: false
domain: example.com
externaldns:
  chartVersion: 6.18.0
  enabled: false
githubRepo: homelab-example
githubUser: loeken
ha:
  chartVersion: 2023.4.6
  enabled: false
  ingress:
    cloudflaretunnel:
      enabled: true
    nginx:
      enabled: false
  useAuthelia: false
jellyfin:
  cache:
    enabled: true
    size: 10Gi
    storageClass: local-path
  chartVersion: 10.8.9
  config:
    enabled: true
    size: 1Gi
    storageClass: local-path
  enabled: false
  ingress:
    cloudflaretunnel:
      enabled: false
    nginx:
      enabled: false
  linkerd: false
  useAuthelia: false
jellyseerr:
  chartVersion: 1.5.0
  enabled: false
  ingress:
    cloudflaretunnel:
      enabled: true
    nginx:
      enabled: false
  linkerd: false
  useAuthelia: false
k10:
  chartVersion: 5.5.4
  enabled: false
  storageClass: local-path
kubeflow:
  enabled: false
  storageClass: local-path
linkerd:
  enabled: false
loki:
  alertmanager:
    enabled: false
    ingress:
      cloudflaretunnel:
        enabled: true
    storageClass: local-path
    storageSize: 10Gi
  chartVersion: 2.9.10
  enabled: false
  filebeat:
    enabled: false
  fluentbit:
    enabled: false
  grafana:
    storageClass: local-path
    storageSize: 10Gi
  ingress:
    cloudflaretunnel:
      enabled: true
    nginx:
      enabled: false
  logstash:
    enabled: false
  nodeExporter:
    enabled: false
  prometheus:
    enabled: true
    storageClass: local-path
    storageSize: 10Gi
  promtail:
    enabled: true
  storageClass: local-path
  storageSize: 10Gi
nextcloud:
  chartVersion: 3.5.9
  data:
    size: 10Gi
    storageClass: local-path
  enabled: false
  ingress:
    cloudflaretunnel:
      enabled: true
    nginx:
      enabled: false
  smtp:
    domain: example.com
    host: mail.example.com
    port: 587
    sender: nextcloud@example.com
    username: nextcloud@example.com
  useAuthelia: false
nfsprovisioner:
  chartVersion: 4.0.18
  ip: 172.16.137.200
nginxingress:
  chartVersion: 0.17.1
  enabled: false
  linkerd: false
nzbget:
  chartVersion: 1.3.2
  enabled: false
  ingress:
    cloudflaretunnel:
      enabled: true
    nginx:
      enabled: false
  linkerd: false
  size: 10Gi
  storageClass: local-path
  useAuthelia: false
prowlarr:
  chartVersion: 1.3.2
  enabled: false
  ingress:
    cloudflaretunnel:
      enabled: true
    nginx:
      enabled: false
  linkerd: false
  size: 1Gi
  storageClass: local-path
  useAuthelia: false
radarr:
  chartVersion: 4.4.4
  enabled: false
  ingress:
    cloudflaretunnel:
      enabled: true
    nginx:
      enabled: false
  linkerd: false
  size: 1Gi
  storageClass: local-path
  useAuthelia: false
robusta:
  enabled: false
rtorrentflood:
  chartVersion: 4.7.0
  enabled: false
  ingress:
    cloudflaretunnel:
      enabled: true
    nginx:
      enabled: false
  linkerd: false
  size: 10Gi
  storageClass: local-path
  useAuthelia: false
sharedmedia:
  size: 1000Gi
  storageClass: local-path
sonarr:
  chartVersion: 3.0.9
  enabled: false
  ingress:
    cloudflaretunnel:
      enabled: true
    nginx:
      enabled: false
  linkerd: false
  size: 1Gi
  storageClass: local-path
  useAuthelia: false
storageClass: local-path
vaultwarden:
  chartVersion: 1.28.1
  enabled: false
  ingress:
    cloudflaretunnel:
      enabled: true
    nginx:
      enabled: false
  linkerd: false
  size: 10Gi
  storageClass: local-path
  useAuthelia: true
volumesnapshots:
  enabled: true
whoami:
  chartVersion: 3.1.0
  enabled: true
  ingress:
    cloudflaretunnel:
      enabled: true
    nginx:
      enabled: false
  linkerd: false
