# this file acts as a global value files to all bootstrap-optional-apps
domain: internetz.cloud
clusterIssuer: letsencrypt-staging
githubUser: loeken
githubRepo: homelab-private
storageClass: freenas-iscsi-csi
openldap:
  searchDomain: dc=ldap,dc=example,dc=com
  bindDN: cn=admin,dc=ldap,dc=example,dc=com
  #first setup openldap with useAuthelia=no, then setup authelia, then change this to "yes"
  useAuthelia: "no"
authelia:
  smtp:
    host: mail.example.com
    port: 587
    username: authelia@example.com
    sender: authelia@example.com
vaultwarden:
  useAuthelia: "yes"
sharedmedia:
  size: 1000Gi
  storageClass: freenas-nfs-csi
nzbget:
  size: 100Gi
nextcloud:
  smtp:
    host: mail.example.com
    domain: example.com
    port: 587
    username: nextcloud@example.com
    sender: nextcloud@example.com
navidrome:
  size: 100Gi
  storageClass: freenas-iscsi-csi
photoprism:
  size: 100Gi
  storageClass: freenas-iscsi-csi
lychee:
  size: 100Gi
  storageClass: freenas-iscsi-csi
permission-manager:
  clusterName: ime
  controlPlaneAddress: https://172.16.137.101:6443