---
apiVersion: v1
kind: Secret
metadata:
  name: permission-manager
  namespace: permission-manager
type: Opaque
stringData:
  PORT: "4000"
  CLUSTER_NAME: "default"
  CONTROL_PLANE_ADDRESS: "https://172.16.137.101:6443" 
  BASIC_AUTH_PASSWORD: "changeme"