---
apiVersion: v1
kind: Secret
metadata:
  name: external-dns
  namespace: external-dns
type: Opaque
stringData:
  cloudflare_api_token: "create token at https://dash.cloudflare.com/profile/api-tokens"
  email: "yourem@il.org"