---
apiVersion: v1
kind: Secret
metadata:
  name: authelia
  namespace: authelia
type: Opaque
stringData:
  STORAGE_ENCRYPTION_KEY: ""
  SESSION_ENCRYPTION_KEY: ""
  LDAP_PASSWORD: ""
  SMTP_PASSWORD: ""
  JWT_TOKEN: ""