---
apiVersion: v1
kind: Secret
metadata:
  name: nextcloud
  namespace: nextcloud
type: Opaque
stringData:
  smtp_username: homelab@example.com
  smtp_password: topsecure
  password: topsecurebitches
  username: nextcloud
  postgres-password: topsecurebitches
