---
apiVersion: v1
kind: Secret
metadata:
  name: authelia
  namespace: authelia
type: Opaque
stringData:
  STORAGE_ENCRYPTION_KEY: "generate|32"
  SESSION_ENCRYPTION_KEY: "generate|64"
  SMTP_PASSWORD: "smtp-password used by authelia when sending emails"
  JWT_TOKEN: "generate|32"
