---
apiVersion: v1
kind: Secret
metadata:
  name: nextcloud
  namespace: nextcloud
type: Opaque
stringData:
  smtp_username: "nextcloud smtp username: homelab@example.com"
  smtp_password: "nextcloud smtp password: topsecure"
  password: "generate|16"
  username: nextcloud
  postgres-password: "generate|16"
