apiVersion: v1
kind: Secret
metadata:
  name: homelab-private
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  name: homelab-private
  url: git@github.com:loeken/homelab-private
  sshPrivateKey: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    YOURKEY
    -----END OPENSSH PRIVATE KEY-----
