---
apiVersion: v1
kind: Secret
metadata:
  name: vaultwarden-postgresql
  namespace: vaultwarden
type: Opaque
stringData:
  password: homelab
  postgresql-postgres-password: homelab
  postgresql-password: homelab
  replication-password: homelab
